.bookmark .thumb,
.video_iframe,
.bookmark object,
.inline_image,
.inlined_info {
    margin-top:20px;
}
.bookmark_parent {
    position:relative;
}

.bookmark .thumb,
iframe, embed,
.video_iframe {
    width:580px !important;
    height:325px !important;
}
.inline_image {
    min-width:590px;
    max-width:590px;
}
.inlined_info {
    padding:10px;
    border:1px dotted #ccc;
    background:#fafafa;
    overflow:hidden;
}
.inlined_info .movie_thumb {
    margin:0 10px 10px 0;
}
.inlined_info img {
    display:block;
    width:100% !important;
    height:auto !important;
}
