.bookmark .thumb,
.video_iframe,
.bookmark object,
.inline_image,
.inlined_info {
    margin-top:20px;
}

.bookmark .thumb,
.video_iframe {
    width:560px !important;
    height:315px !important;
}
.inline_image {
    min-width:590px;
    max-width:590px;
}
.inlined_info {
    padding:10px;
    border:1px dotted #ccc;
    background:#fafafa;
    overflow:hidden;
}
.inlined_info .movie_thumb {
    margin:0 10px 10px 0;
}
