.bookmark .thumb,
.video_iframe,
.bookmark object,
.inline_image {
    margin-top:15px;
}
.bookmark_parent {
    position:relative;
}

.bookmark .thumb,
iframe, embed,
.video_iframe {
    width:540px !important;
    height:305px !important;
}
.inline_image {
    min-width:590px;
    max-width:590px;
}
.inlined_info {
    padding:10px;
    margin:15px 20px 20px;
    margin-bottom:20px;
    border-radius:5px;
    box-shadow:0px 1px 10px #ccc;
    background:#fafafa;
    font-size:14px;
    line-height:22px;
    overflow:hidden;
    clear:both;
}
.inlined_info .via {
    font-size:20px;
    color:#666;
}
.inlined_info .thumbnail {
    width:25%!important;
    height:25%!important;
    float:right;
    margin:0 0 0 20px;
    max-height:300px;
}
.inlined_info img {
    display:block;
    width:100% !important;
    height:auto !important;
}
.loading {
    opacity:0.5;
}
.loading-cir {
    display:none;
}
.loading .loading-cir {
    position:absolute;
    display:block;
    top:50%;
    left:40%;
    width:30px;
    height:30px;
    margin:-20px 0 0 -20px;
    border-width: 5px;
    border-style:solid;
    border-color:#ccc #ccc rgba(255,255,255,.5) rgba(255,255,255,.5);
    opacity:.9;
    border-radius:20px;
    -webkit-animation:rotate 1s linear infinite;
    -ms-animation:rotate 1s linear infinite;
}
@-webkit-keyframes rotate{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
    0%{-ms-transform:rotate(0deg)}
    100%{-ms-transform:rotate(360deg)}
}
